# Project exclude paths
/domain/target/
/repository/target/
/service/target/
/web/target/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/ui/src/main/webui/dist
/ui/src/main/webui/tmp
/ui/src/main/webui/out-tsc
# Only exists if Bazel was run
/ui/src/main/webui/bazel-out

# dependencies
/ui/src/main/webui/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/ui/src/main/webui/.sass-cache
/ui/src/main/webui/connect.lock
/ui/src/main/webui/coverage
/ui/src/main/webui/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/ui/src/main/webui/typings

# System Files
.DS_Store
Thumbs.db