<p>dictionary-tee-node-list works!</p>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Synonym</th>
        <th scope="col">root</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dictionaryTreeNode of dictionaryTreeNodes">
        <td>{{ dictionaryTreeNode.dictionary_id }}</td>
        <td>{{ dictionaryTreeNode.synonym }}</td>
        <td>{{ dictionaryTreeNode.root }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
